<div
    class="bg-surface-50 dark:bg-surface-950 flex items-center justify-center min-h-screen min-w-screen overflow-hidden">
    <div class="flex flex-col items-center justify-center">
        <div
            style="border-radius: 56px; padding: 0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%)">
            <div class="w-full bg-surface-0 dark:bg-surface-900 py-20 px-8 sm:px-20" style="border-radius: 53px">
                <div class="text-center mb-8">
                    <div class="text-surface-900 dark:text-surface-0 text-3xl font-medium mb-4" translate>
                        auth.forgotPassword
                    </div>
                    <span class="text-surface-600 dark:text-surface-200 font-medium" translate>
                        auth.forgotPasswordDescription
                    </span>
                </div>

                <div>
                    @if (!sent) {
                    <label for="username" class="block text-surface-900 dark:text-surface-0 text-xl font-medium"
                        translate>auth.username</label>
                    <input pInputText id="username" type="text" [placeholder]="'auth.username' | translate"
                        class="w-full mb-5" [(ngModel)]="username" />

                    <p-button [label]="'auth.sendResetEmail' | translate" styleClass="w-full mt-2"
                        (onClick)="requestReset()" [loading]="isLoading"></p-button>
                    }

                    @if (message) {
                    <p-message [severity]="messageType" [text]="message | translate"
                        styleClass="w-full mb-5"></p-message>
                    }

                    <div class="text-center mt-6">
                        <a routerLink="/auth/login" class="text-primary-600 hover:underline" translate>
                            auth.backToLogin
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>