<p-card class="h-full w-full">
    <ng-template #subtitle>
        <span translate>dashboard.dnsProviders.title</span>
    </ng-template>

    @if(loading) {
    <div class="text-center py-5">
        <i class="pi pi-spin pi-spinner text-4xl text-muted-color"></i>
    </div>
    }
    @else {
    <div class="flex justify-between items-center mb-2">
        <span translate>dashboard.dnsProviders.total</span>
        <span class="font-semibold">{{ totalProviders }}</span>
    </div>
    <div class="flex justify-between items-center mb-2">
        <span translate>dashboard.dnsProviders.active</span>
        <span class="font-semibold text-green-500">{{ activeProviders }}</span>
    </div>
    <div class="flex justify-between items-center mb-2">
        <span translate>dashboard.dnsProviders.disabled</span>
        <span class="font-semibold text-orange-500">{{ disabledProviders }}</span>
    </div>
    }
</p-card>
